In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance.csv")

In [3]:
dataset

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,age,bmi,children,expenses,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.9,0,16884.92,0,1,0,0,1
1,18,33.8,1,1725.55,1,0,0,1,0
2,28,33.0,3,4449.46,1,0,0,1,0
3,33,22.7,0,21984.47,1,0,1,0,0
4,32,28.9,0,3866.86,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,31.0,3,10600.55,1,0,1,0,0
1334,18,31.9,0,2205.98,0,0,0,0,0
1335,18,36.9,0,1629.83,0,0,0,1,0
1336,21,25.8,0,2007.95,0,0,0,0,1
1337,61,29.1,0,29141.36,0,1,1,0,0

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'expenses', 'sex_male', 'smoker_yes',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes','region_northwest', 'region_southeast', 'region_southwest']]
independent

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.9,0,0,1,0,0,1
1,18,33.8,1,1,0,0,1,0
2,28,33.0,3,1,0,0,1,0
3,33,22.7,0,1,0,1,0,0
4,32,28.9,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...
1333,50,31.0,3,1,0,1,0,0
1334,18,31.9,0,0,0,0,0,0
1335,18,36.9,0,0,0,0,1,0
1336,21,25.8,0,0,0,0,0,1
1337,61,29.1,0,0,1,1,0,0

In [8]:
dependent=dataset[["expenses"]]

In [9]:
dependent

      expenses
0     16884.92
1      1725.55
2      4449.46
3     21984.47
4      3866.86
...        ...
1333  10600.55
1334   2205.98
1335   1629.83
1336   2007.95
1337  29141.36

[1338 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [12]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [13]:
weight=regressor.coef_
weight

array([[  256.40292387,   335.41445613,   472.93993053,   -47.69289119,
        23435.0461276 ,  -561.35311696,  -995.53712507,  -798.82437096]])

In [14]:
bais=regressor.intercept_
bais

array([-11836.11783076])

In [15]:
y_pred=regressor.predict(x_test)

In [16]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [17]:
r_score

0.7909584752654695

In [18]:
import pickle
filename="finalized_model_linear.sav"
pickle. dump(regressor,open(filename,'wb'))

In [19]:
 loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict([[630,1,0,0,1,1,0,1]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [20]:
result

array([[172108.00730279]])